 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #faa200de;
    color: white;
    display: flex;
    flex-direction: column;
}
h1 {
    position: relative;
    text-align: center;
    font-size: 60px;
    top: -15px;
    margin-bottom: 40px;
    margin-top: 35px;;
}
.container {
    position: relative;
    width: 510px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: #000000cf;
    margin: 20px auto;
    top: 155px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 15px 1px;
    text-transform: capitalize;
}
form {
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
}
input {
    position: relative;
    align-self: stretch;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 15px;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    overflow: hidden;
}
.eye {
    display: flex;
    position: relative;
    bottom: 64px;
    right: 5px;
    align-self: flex-end;
    justify-content: flex-end;
}
.remeber-Pass {
    margin-left: 35px;
    bottom: 61px;
    position: relative;
}
#remeber-Pass {
    align-self: flex-start;
    top: -31px;
}
button {
    align-self: center;
    padding: 15px;
    position: relative;
    border-radius: 15px;
    width: 460px;
    font-size: 20px;
    text-transform: capitalize;
    top: 20px;
}
p {
    position: relative;
    text-align: center;
    top: 20px;
}
.forget {
    position: relative;
    align-self: flex-end;
    top: -81px;
}
button:hover {
    background-color: #faa200de;
    cursor: pointer;
}
.sign-up,
.forget {
    color: #faa200de;
}
.circle1 ,
.circle2 ,
.circle3 ,
.circle4 ,
.circle5 ,
.circle6 ,
.circle7 ,
.circle8 ,
.circle9 ,
.circle10 ,
.circle11 ,
.circle12 {
    position: absolute;
    border-radius: 50% ;
    width: 100px ;
    height: 100px;
    background-color: black;
}
.circle1 ,
.circle2 ,
.circle3 {
    align-self: flex-start;
}
.circle2 {
    top: 107px;
}
.circle3 {
    left: 94px;
    top: 57px;
}

.circle4 ,
.circle5 ,
.circle6 {
    align-self: flex-end;
}
.circle5 {
    top: 107px;;
}
.circle6 {
    right: 94px;
    top: 57px;
}
.circle7 ,
.circle8 ,
.circle9 {
    align-self: flex-end;
    bottom: 10px;
}
.circle8 {
    bottom: 107px;
}
.circle9 {
    right: 94px;
    bottom: 57px;
}
.circle10 ,
.circle11 ,
.circle12 {
    align-self: flex-start;
    bottom: 10px;
}
.circle11 {
    bottom: 107px;
}
.circle12 {
    left: 94px;
    bottom: 57px;
}