 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url(dish.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
h1 {
    position: relative;
    text-align: center;
    font-size: 60px;
    top: -35px;
    margin-bottom: 10px;
    margin-top: 35px;
}
.container {
    position: relative;
    width: 510px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px auto;
    top: 155px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 15px 1px;
    text-transform: capitalize;
}
form {
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
}
input {
    position: relative;
    align-self: stretch;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    /* border-top: transparent;
    border-right: transparent;
    border-left: transparent; */
    border-radius: 15px;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    overflow: hidden;
}
.eye {
    display: flex;
    position: relative;
    bottom: 98px;
    right: 5px;
    align-self: flex-end;
    justify-content: flex-end;
}
.remeber-Pass {
    margin-left: 10px;
}
#remeber-Pass {
    align-self: flex-start;
    top: -31px;
}
/* label {
    position: relative;
    bottom: 62px;
    left: 20px;
    transition-timing-function: ease-in;
    transition-duration: 0.4s;
    cursor: text;
} */
button {
    align-self: center;
    padding: 15px;
    position: relative;
    border-radius: 15px;
    width: 460px;
    font-size: 20px;
    text-transform: capitalize;
    top: 20px;
}
p {
    position: relative;
    text-align: center;
    top: 20px;
}
.forget {
    position: relative;
    align-self: flex-end;
    top: -81px;
}
button:hover {
    background-color: #faa200de;
    cursor: pointer;
}
.sign-up,
.forget {
    color: blue;
}
#email:focus {
    placeholder
}