<<<<<<< HEAD
body{
    background-color: #c2c5aa;
}
.login{
=======
h1 {
    text-align: center;
    font-size: 60px;
}
.container{
    display: flex;
    flex-direction: column;
>>>>>>> 4837414eac6405d5cadda47f1cec940216e579e5
    background-color: #414833;
    width: 510px;
    height: 60vh;
    margin: auto;
    border: 3px solid rgb(78, 72, 72);
    border-radius: 10px;
    margin-top: 3em;
}
.container input{
    margin: 7px;
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    align-self: stretch;
}
.email,
.password {
    font-size: 25px;
}
p{
    text-align: center;
}
a{
    color: #b6ad90;
}

<<<<<<< HEAD
=======

>>>>>>> 4837414eac6405d5cadda47f1cec940216e579e5
